<h2>Cart</h2>
<form #f="ngForm" (ngSubmit)="setSearchedProducts(f)">
    <label>
        <input name="term" ngModel>
    </label>
    <button>search</button>
</form>
<ul class="products">
    <li *ngFor="let product of products">
        <a routerLink="">
            <span class="badge">{{product.id}}</span> {{product.name}}
        </a>
        <span> {{product.quantity}} </span>
        <span>{{product.quantity * product.price | currency}}</span>
        <label>
            <input #quantity>
        </label>
        <button class="remove" title="remove product"
        (click)="remove(product, +quantity.value)">x</button>
    </li>
</ul>
<div>
    Total: {{cost | currency}}
</div>
