<h2>Products management</h2>
<app-product-search (searchedProducts)="setProducts($event)"></app-product-search>
<button (click)="getProducts()">All</button>
<ul class="products">
    <li *ngFor="let product of products">
        <a routerLink="">
            <span class="badge">{{product.id}}</span> {{product.name}}
        </a>
        <button class="delete" title="delete product"
        (click)="deleteProduct(product)">x</button>
    </li>
</ul>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <label>product name: 
        <input name="productName" required ngModel>
    </label>
    <label>price:
        <input name="price" required ngModel/>
    </label>
    <button>
        add
    </button>
</form>